:root {
    --theme-color: #3cade7;
    --theme-color-secondary: #fa1919;
    --theme-accent-color: #2b2959;
    --theme-font: Barlow, sans-serif;
    --theme-bg-color: #1F0322;
    --transition: all .3s linear;
}

body {}

p {
    color: #666766;
    line-height: 1.875rem;
    font-size: 1.125rem;
    font-weight: 300;
}

a {
    color: var(--theme-color);
    transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--theme-font);
    color: var(--theme-accent-color);
    font-weight: 800;
}

/*===== Hero Style =====*/
.hero-wrap {
    min-height: 20vh;
    background-image: url(../assets/hero-wrap-illus.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*===== Section Title Style =====*/
.sec-title-inner {
    position: relative;
    padding-top: 4rem;
    font-family: var(--theme-font);
}

.sec-title-inner i {
    position: absolute;
    height: 2.125rem;
    width: 2.125rem;
    background-color: #f7f7f7;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    -o-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    left: 50%;
    top: 0;
}

.sec-title-inner>i:before {
    content: "";
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    bottom: -2px;
    left: 1rem;
    background: var(--theme-color);
}

.btm-icn .sec-title-inner > i {
    bottom: 0;
    top: auto;
}

.btm-icn .sec-title-inner {
    padding: 0 0 4.3rem;
}

.sec-title-inner>span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 5.8px;
}

.sec-title-inner>h2 {
    margin-top: 0.4375rem;
    line-height: 3.75rem;
    font-size: 3.75rem;
    text-transform: uppercase;
}

/*===== Event Grid =====*/
.event-grid-box {
    background-color: #fff;
    -webkit-box-shadow: 0 0 2rem rgba(0,0,0,.05);
    -ms-box-shadow: 0 0 2rem rgba(0,0,0,.05);
    -o-box-shadow: 0 0 2rem rgba(0,0,0,.05);
    box-shadow: 0 0 2rem rgba(0,0,0,.05);
  }
  .event-grid-img:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    top: 0;
    opacity: 0;
  }
  .event-grid-box:hover .event-grid-img::before {opacity: .4;}
  .event-grid-img > span {
    right: 1.25rem;
    top: 1.25rem;
  }
  .event-grid-img > span a {
    background-color: #fff;
    font-size: 1.375rem;
    color: #666;
    height: 3.125rem;
    line-height: 3.35rem;
    width: 3.125rem;
    display: block;
    text-align: center;
  }
  .event-grid-img > a.thm-btn {
    position: absolute;
    right: 0;
    bottom: -2.5rem;
    padding: 0.96875rem 3.4375rem;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  }
  .event-grid-box:hover .event-grid-img > a.thm-btn {
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }
  .event-grid-info {padding: 1.875rem 2.1875rem 1.5625rem 2.1875rem;}
  .event-grid-info > h3 {
    font-size: 1.625rem;
    font-weight: 700;
  }
  .event-grid-info > h3 > a {
    text-decoration: none;
    color: var(--theme-accent-color);
  }
  .event-grid-info > h3 > a:hover, .event-grid-info > h3 > a:focus {
    color: var(--theme-color-secondary);
  }
  .event-grid-info > h3 + span {margin-top: 1rem;}
  .event-grid-info > span.event-date {
    font-family: var(--theme-font);
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--theme-color-secondary);
  }
  .event-grid-meta > li {
    font-size: 1.0625rem;
    font-family: var(--theme-font);
    color: #999;
  }
  .event-grid-meta > li:not(:first-child) {margin-left: 1.375rem;}
  .event-grid-meta > li i {margin-right: .5rem;}
  .event-grid-meta > li strong {
    font-weight: 600;
    text-transform: uppercase;
  }
  .event-grid-info > ul + span {
    padding-top: 1.0625rem;
    margin-top: 1.25rem;
  }
  .event-grid-info > ul + span:before {
    content: "";
    position: absolute;
    left: 0;
    right: -2.1875rem;
    height: 1px;
    border-top: 1px dashed #e2e2e2;
    top: 0;
  }
  .event-grid-info > span.event-loc {
    font-size: 1.0625rem;
    color: #999;
    position: relative;
  }
  span.event-loc i {margin-right: .5rem;}

/*===== About Style =====*/
.about-img {
    position: relative;
    padding-left: 1.875rem;
    padding-bottom: 1.875rem;
    text-align: center;
}

.about-img-item {
    width: 100%;
    display: inline-block;
}

.about-desc>p+.about-info-wrap {
    margin-top: 0.625rem;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 0.75rem;
    margin-top: 2.1875rem;
}

.about-info>i {
    color: var(--theme-color);
    font-size: 2.8125rem;
    line-height: 3.4375rem;
    text-align: center;
    min-width: 45px;
}

.about-info>i+.about-info-inner {
    padding-left: 0.9375rem;
}

.about-info-inner>span {
    color: var(--theme-accent-color);
    font-size: 1.125rem;
    font-family: var(--theme-font);
}

.about-info-inner>p {
    text-transform: uppercase;
    color: var(--theme-accent-color);
    font-size: 1.125rem;
    font-family: var(--theme-font);
    font-weight: 600;
}


/*===== Footer Style =====*/
footer {
    background-color: var(--theme-bg-color);
}

.footer-inner {
    max-width: 70%;
}

.footer-inner p {
    color: #d9d9d9;
    margin-top: 1.875rem;
}

.footer-inner>p a {
    font-weight: 700;
}

.footer-inner>p a:hover,
.footer-inner>p a:focus {
    color: #fff;
}

.footer-inner>p a {
    color: var(--theme-color)
}

.footer-bottom > p i {
    font-size: 3.125rem;
    margin-right: 0.625rem;
    line-height: 3.125rem;
    vertical-align: middle;
    display: inline-block;
  }

.footer-inner + .footer-bottom {
    border-top: 2px solid rgba(255,255,255,.15);
    margin-top: 5.75rem;
}

.footer-bottom {
    padding: 1.875rem 0 2.1875rem;
}

.footer-bottom > p {
    color: #fff;
}

.social-links > a {
    display: inline-block;
    color: #fff;
    height: 3.4375rem;
    line-height: 3.4375rem;
    width: 3.4375rem;
    border-width: 2px;
    border-style: solid;
    font-size: 1.21875rem;
    margin-left: 2px;
}

.social-links > a:hover, .social-links > a:focus {background-color: transparent;}

/*=== Social Media ===*/
.facebook,
.facebook-hvr:hover,
.facebook-hvr:focus {
  background-color: #3b5999;
  border-color: #3b5999;
}
.twitter,
.twitter-hvr:hover,
.twitter-hvr:focus {
  background-color: #55acee;
  border-color: #55acee;
}
.linkedin,
.linkedin-hvr:hover,
.linkedin-hvr:focus {
  background-color: #0077B5;
  border-color: #0077B5;
}
.instagram,
.instagram-hvr:hover,
.instagram-hvr:focus {
  background-color: #e4405f;
  border-color: #e4405f;
}
.facebook:hover,
.facebook:focus {color: #3b5999;}
.twitter:hover,
.twitter:focus {color: #55acee;}
.linkedin:hover,
.linkedin:focus {color: #0077B5;}
.instagram:hover,
.instagram:focus {color: #e4405f;}

/*===== Button =====*/
.thm-btn {
    font-size: 1rem;
    font-family: var(--theme-font);
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 1.265625rem 2.875rem;
    text-align: center;
  }

  .thm-btn.wid-btn {
    padding-left: 4.0625rem;
    padding-right: 4.0625rem;
  }
  .thm-btn.brd-btn {
    border: 3px solid;
    padding: 1.078125rem 2.875rem;
  }
  .thm-btn i {margin-left: 0.625rem;}
  .thm-btn.lft-icon i {
    margin: 0 0.625rem 0 0;
    font-size: 1.25rem;
    line-height: 1.25rem;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -1.5px;
  }
  .thm-btn.lft-icon.brd-btn {padding: 1.0625rem 2.875rem}

  .thm-btn.fill-btn {
    color: #fff;
    -webkit-box-shadow: 0 6px .5rem rgba(232, 34, 61, 0.2);
    -ms-box-shadow: 0 6px .5rem rgba(232, 34, 61,.2);
    -o-box-shadow: 0 6px .5rem rgba(232, 34, 61,.2);
    box-shadow: 0 6px .5rem rgba(232, 34, 61,.2);
  }

  .btns-wrap > a {margin: 0 .5rem;}
  .thm-btn.brd-btn {color: var(--theme-color-secondary);}
  .thm-btn.brd-btn:hover,
  .thm-btn.brd-btn:focus {
      color: #fff;
      background-color: var(--theme-color-secondary);
    }
  .btns-wrap.d-flex > a {margin: 0;}

  .blue-layer .btns-wrap > a.brd-btn {
    border-color: #67637e;
    color: #fff;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    border-left: 0;
  }

  .thm-btn.fill-btn {
      background-color: var(--theme-color-secondary);
  }
  .thm-brd-clr, .thm-btn.fill-btn, .thm-btn.brd-btn {
      border-color: var(--theme-color-secondary);
  }

/*=== Paddings ===*/
.pt-10 {padding-top: 0.625rem;}
.pb-10 {padding-bottom: 0.625rem;}
.pt-20 {padding-top: 1.25rem;}
.pb-20 {padding-bottom: 1.25rem;}
.pt-30 {padding-top: 1.875rem;}
.pb-30 {padding-bottom: 1.875rem;}
.pt-40 {padding-top: 2.5rem;}
.pb-40 {padding-bottom: 2.5rem;}
.pt-50 {padding-top: 3.125rem;}
.pb-50 {padding-bottom: 3.125rem;}
.pt-60 {padding-top: 3.75rem;}
.pb-60 {padding-bottom: 3.75rem;}
.pt-70 {padding-top: 4.375rem;}
.pb-70 {padding-bottom: 4.375rem;}
.pt-80 {padding-top: 5rem;}
.pb-80 {padding-bottom: 5rem;}
.pt-90 {padding-top:5.625rem;}
.pb-90 {padding-bottom: 5.625rem;}
.pt-100 {padding-top: 6.25rem;}
.pb-100 {padding-bottom: 6.25rem;}
.pt-110 {padding-top: 6.875rem;}
.pb-110 {padding-bottom: 6.875rem;}
.pt-120 {padding-top: 7.5rem;}
.pb-120 {padding-bottom: 7.5rem;}
.pt-130 {padding-top: 8.125rem;}
.pb-130 {padding-bottom: 8.125rem;}
.pt-140 {padding-top: 8.75rem;}
.pb-140 {padding-bottom: 8.75rem;}
.pt-150 {padding-top: 9.375rem;}
.pb-150 {padding-bottom: 9.375rem;}
.pt-155 {padding-top: 9.6875rem;}
.pb-155 {padding-bottom: 9.6875rem;}
.pt-160 {padding-top: 10rem;}
.pb-160 {padding-bottom: 10rem;}
.pt-170 {padding-top: 10.625rem;}
.pb-170 {padding-bottom: 10.625rem;}
.pt-180 {padding-top: 11.25rem;}
.pb-180 {padding-bottom: 11.25rem;}
.pt-210 {padding-top: 13.125rem;}
.pb-210 {padding-bottom: 13.125rem;}
.pt-240 {padding-top: 15rem;}
.pb-240 {padding-bottom: 15rem;}
.pt-280 {padding-top: 17.5rem;}
.pb-280 {padding-bottom: 17.5rem;}

/*=== Margins ===*/
.mt-10 {margin-top: 0.625rem;}
.mb-10 {margin-bottom: 0.625rem;}
.mt-15 {margin-top: 0.9375rem;}
.mb-15 {margin-bottom: 0.9375rem;}
.mt-20 {margin-top: 1.25rem;}
.mb-20 {margin-bottom: 1.25rem;}
.mt-25 {margin-top: 1.5625rem;}
.mb-25 {margin-bottom: 1.5625rem;}
.mt-30 {margin-top: 1.875rem;}
.mb-30 {margin-bottom: 1.875rem;}
.mt-35 {margin-top: 2.1875rem;}
.mb-35 {margin-bottom: 2.1875rem;}
.mt-40 {margin-top: 2.5rem;}
.mb-40 {margin-bottom: 2.5rem;}
.mt-45 {margin-top: 2.8125rem;}
.mb-45 {margin-bottom: 2.8125rem;}
.mt-50 {margin-top: 3.125rem;}
.mb-50 {margin-bottom: 3.125rem;}
.mt-55 {margin-top: 3.4375rem;}
.mb-55 {margin-bottom: 3.4375rem;}
.mt-60 {margin-top: 3.75rem;}
.mb-60 {margin-bottom: 3.75rem;}
.mt-65 {margin-top: 4.0625rem;}
.mb-65 {margin-bottom: 4.0625rem;}
.mt-70 {margin-top: 4.375rem;}
.mb-70 {margin-bottom: 4.375rem;}
.mt-80 {margin-top: 5rem;}
.mb-80 {margin-bottom: 5rem;}
.mt-90 {margin-top:5.625rem;}
.mb-90 {margin-bottom: 5.625rem;}
.mt-100 {margin-top: 6.25rem;}
.mb-100 {margin-bottom: 6.25rem;}
.mt-110 {margin-top: 6.875rem;}
.mb-110 {margin-bottom: 6.875rem;}
.mt-120 {margin-top: 7.5rem;}
.mb-120 {margin-bottom: 7.5rem;}